@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Montserrat&display=swap');
html,body {
    background: #1d267d;
    font-family: "Jersey 15", sans-serif;
    height: 100vh;
}


