.tech {
    margin-top: 100px;
    color: #D4ADFC;
}

.carousel .slide {
    padding-bottom: 30px;
}

.carousel {
    touch-action: pan-y;
    max-width: 95%;
}

.carousel-root {
    touch-action: pan-y;
}